body{
font-family:Arial;
margin:0;
background:#f5f7fb;
}

.hero{
height:420px;
background:linear-gradient(135deg,#2f80ed,#56ccf2);
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
}

.hero input{
padding:15px;
width:350px;
border-radius:10px;
border:none;
margin-top:20px;
}

.categories{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
}

.cat{
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
}

.feature{
text-align:center;
padding:40px;
}

.seat{
display:inline-block;
padding:10px;
margin:5px;
background:#ddd;
cursor:pointer;
}

.selected{
background:#27ae60;
color:white;
}
